#root {
  max-width: 1300px;
  margin: 0 auto;
  
  
}

.app-Container{
  width: 100%;
  min-height: 100vh; /* Ensure the container takes up at least the full viewport height */
  display: grid;
  grid-template-rows: auto 1fr auto; 

}
