#root {
  
  margin: 0 auto;
  
  
}
body{
 
  background-color:#f7f6e7;
  color:#411900;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

.app-Container{
  width: 100%;
  min-height: 100vh; /* Ensure the container takes up at least the full viewport height */
  display: grid;
  grid-template-rows: auto 1fr auto; 
transition: 0.5s;

}
.app-Container.dark{
background: #222;
}
