#root {
  
  margin: 0 auto;
  
  
}
body{
 
  background-color:#f7f6e7;
  color:#681a1e;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.app-Container{
  width: 100%;
  min-height: 100vh; /* Ensure the container takes up at least the full viewport height */
  display: grid;
  grid-template-rows: auto 1fr auto; 
transition: 0.5s;

}
.app-Container.dark{
background: #222;
}
